#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  padding: 1rem 1.5rem;
  background-color: #3b79b6 !important;
  color: white;
  outline: 0;
  border: none;
  margin: 0 0.25rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-transform: capitalize;
}

/*=====> Custom <=====*/
.router-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
}
.router-links a {
  color: #333;
  text-decoration: underline;
}
